<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WP Exam</title>
</head>
<body>

<div>
    <!-- The form below should invoke the method PlayersController.showPlayers -->
    <form id="filter-form" method="get" action="/">
        <label for="pointsPerGame">Points Per Game</label>
        <input id="pointsPerGame" type="number" name="pointsPerGame" step="0.1"/>
        <label for="position">Position</label>
        <select id="position" name="position">
            <option value="">All</option>
            <option th:each="pos : ${positions}"
                    th:value="${pos}"
                    th:text="${pos}"
                    th:selected="${pos != null && position == pos.name()}">
            </option>
        </select>
        <button id="filter" type="submit">Filter</button>
    </form>
    <div>
        <!-- PlayersController.showAdd -->
        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
        <a href="/players/add" class="add-item">
            Add new player
        </a>
        </th:block>
    </div>
    <table>
        <tr>
            <th>Player name</th>
            <th>Biography</th>
            <th>Points Per Game</th>
            <th>Position</th>
            <th>Team</th>
            <th>Votes for MVP</th>
            <th>Actions</th>
        </tr>
        <!-- For each player you should have one <tr> like below -->
        <tr th:each="pl: ${players}" class="item">
            <td th:text="${pl.getName()}"></td>
            <td th:text="${pl.getBio()}"></td>
            <td th:text="${pl.getPointsPerGame()}"></td>
            <td th:text="${pl.getPosition() != null}
                            ? ${pl.getPosition().name()} : 'No position'"></td>
            <td th:text="${pl.getTeam() != null}
                            ? ${pl.getTeam().getName()} : 'No Team'"></td>
            <td th:text="${pl.getVotes()}"></td>
            <td>
                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                <!-- PlayersController.delete -->
                <form th:action="@{'/players/{id}/delete' (id=${pl.getId()})}"
                      th:method="POST">
                    <button type="submit" class="delete-item">Delete</button>
                </form>
                <!-- PlayersController.showEdit -->
                <a th:href="@{'/players/{id}/edit' (id=${pl.getId()})}" class="edit-item">Edit</a>
                <!-- PlayersController.vote -->
                </th:block>
                <th:block sec:authorize="hasRole('ROLE_USER')">
                <form th:action="@{'/players/{id}/vote' (id=${pl.getId()})}"
                      th:method="POST">
                    <button type="submit" class="like-item">Vote for Player</button>
                </form>
                </th:block>
            </td>
        </tr>
    </table>

</div>
<div>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
</body>
</html>
